:root {
    --title-font: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;
    --background-color: rgba(166, 56, 6, 0.677);
}

body {
    background-color: var(--background-color);
    background-image: url(ae747c669ede5a97c191aea61eb675df.png);
}


#all-content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    /* min-width: 400px; */
    max-width: 40%;
    border-radius: 10px;
    align-items: center;
    background: rgb(243, 241, 241);
    box-shadow: 5px 2px 5px var(--background-color);
}

h1 {
    font-family: var(--title-font);
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: var(--title-font);
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}

/* ---------- inputs ----------- */

#title-and-inputs {
    padding-top: 10px;
    border-top: 2px solid grey;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
    text-align: center;
    width: 80%;
}

#inputs-and-btns {
    display: flex;
    flex-direction: column;
}

#input-container-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--paragraph-font);
}

.input-container {
    margin-bottom: 5px;
}

.input-label {
    display: inline-block;
    width: 120px;
    text-align: right;
    font-size: 14px;
}

input {
    font-family: var(--paragraph-font);
    font-size: 12px;
    width: 120px;
}

.input-container:last-of-type {
    margin-bottom: 10px;
}

.input-container:focus {
    outline: 3px solid #2E1BA6;
    border-color: transparent;

}

#btn-container {
    display: flex;
    justify-content: center;
}

#inputs-and-btns button {
    margin: 5px;
    font-family: var(--paragraph-font);
}

.validation {
    font-size: 12px;
    display: inline-block;
    width: 150px;
    text-align: left;
    outline: 1px solid red;
}

.validate-false {
    color: red;
}


.hidden {
    opacity: 0;
}

/* ----------- table ---------- */

#employee-table-title {
    margin-top: 25px;
}

table {
    table-layout: fixed;
    border: 1px solid black;
    font-family: var(--paragraph-font);
    font-size: 14px;
}

thead {
    background-color: rgb(104, 104, 104);
    color: white;
}

th {
    font-weight: 400;
}

thead th:nth-child(1) {
    max-width: 100px;
}

thead th:nth-child(2) {
    max-width: 100px;
}

thead th:nth-child(3) {
    max-width: 50px;
}

thead th:nth-child(4) {
    max-width: 250px;
}

thead th:nth-child(5) {
    max-width: 100px;
}

thead th:nth-child(6) {
    max-width: 100px;
}


th,
td {
    padding: 2px 5px;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #dddddd;
}

.total {
    padding: .5em;
    margin: 10px 0px;
    font-family: var(--paragraph-font);
    font-size: 18px;
    display: inline-block;
}

#totalMonthlySalaries {
    font-size: 1.2em;
}

.over-budget {
    /* This may be too annoying for a real app, but I wanted to try it anyway */
    animation: blink 1s infinite;
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 24px;
}

@keyframes blink {
    0% {
        background-color: rgb(119, 3, 3);
    }

    100% {
        background-color: red;
    }
}